// back top button
.top{
  display: none;
  cursor: pointer;
  padding: .5rem;
  bottom: 2rem; 
  right: 1rem; 
  position: fixed; 
  z-index: 99; 
  
  border-radius: 50%;
  background-color: var(--gray-400);
  
  @media (min-width: 60rem) {
    bottom: 1rem;
    right: calc(50vw - 23rem);
  }
}

.theme {
  text-align: center;
  font-size: .8rem;
  min-height: 4rem;
}