---
layout: default
---

<article class="posts">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="author">
      {{ page.author }}
    </span>

    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

<script>
    (function(){
        if('wmnhw'){
            if (prompt('请输入密码') !== 'wmnhw'){
                alert('密码错误');
                window.close();
                window.history.go(-1);
				history.back(-1);
            }
        }
    })();  
</script>

                <!-- {% include gitalk.html %} -->

	        <!-- Valine 评论框 start -->
	       {% if site.valine.enable %}
                      <!--{% include valine_comments.html %}-->    
           {% endif %}
	       <!-- Valine 评论框 end -->
</article>

<div class="pagination">
    {% if page.next.url %}
    <span class="next" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
        ← 上一篇
      </a>
    </span>
  {% endif %}
    {% if page.previous.url %}
    <span class="prev" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
        下一篇 →
      </a>
    </span>
  {% endif %}
</div>
